
body {

	font-family: 'Quicksand', sans-serif;
	font-size: 3.5em;
	font-weight: 300;
}


.daw_link:link, .smr_link:link, .daw_link:visited, .smr_link:visited {

	padding: 50px;
	color: black;
	border: 1px #999 solid;
	text-decoration: none;

}

.daw_link:hover {

	text-decoration: none;
	color: #fff;
	background: #1B2631;
}



.smr_link:hover {

	text-decoration: none;
	color: #fff;
	background: #Pink;
}

.glass{

      display: -webkit-flex;
      -webkit-flex-direction: row;
      display: flex;

	  flex-direction: row;
	  flex-wrap: wrap;
	  justify-content: space-evenly;
	  align-items: center;
	  align-content: center;
	  margin: 100px 0 0 0;

}


@media screen and (max-width:700px) {
    body {

		width: 100%;
	}


	.glass  {

		flex-direction: column;
		align-items: center;
	}

	.smr_link {

		margin: 150px 0 0 0;
	}

}
